Daily-task-shedule/daily-task-shedule.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-640, -96],
      "id": "529405fb-f118-46db-b9f6-8d5adee6a7d9",
      "name": "Schedule Trigger",
      "executeOnce": false
    },
    {
      "parameters": {
        "task": "={{ $('Edit Fields1').item.json.requset_id }}",
        "title": "=⏰[{{ $json[\"Время\"] }}] {{ $json[\"Эмодзи\"] }}{{ $json[\"Задача\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [672, -80],
      "id": "d0012c5b-6b0d-472e-9ba4-a971ca7f257f",
      "name": "Create a task1",
      "notesInFlow": false,
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "{{GOOGLE_TASKS_CREDENTIAL_ID}}",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/tasks/v1/users/@me/lists",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleTasksOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={\n  \"title\": \"[{{ $json[\"Day of week\"] }}] - {{ $json[\"Day of month\"] }} {{ $json.Month }} {{ $json.Year }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-272, -96],
      "id": "6cfadce7-d1b9-4848-b6f2-6eff7881a444",
      "name": "HTTP Request1",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "{{GOOGLE_TASKS_CREDENTIAL_ID}}",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "{{GOOGLE_SHEETS_DOC_ID}}",
          "mode": "list",
          "cachedResultName": "Моё расписание",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/{{GOOGLE_SHEETS_DOC_ID}}/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "{{GOOGLE_SHEETS_SHEET_ID}}",
          "mode": "list",
          "cachedResultName": "schedule_for_sheets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/{{GOOGLE_SHEETS_DOC_ID}}/edit#gid={{GOOGLE_SHEETS_SHEET_ID}}"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "День недели",
              "lookupValue": "={{ $('Edit Fields').item.json[\"Day of week\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [80, -96],
      "id": "5fe4e63b-842a-4efc-9de2-5f65768d79be",
      "name": "Load Schedule from Sheets",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "{{GOOGLE_SHEETS_CREDENTIAL_ID}}",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"timestamp\": \"{{ $json.timestamp }}\",\n  \"Readable date\": \"{{ $json['Readable date'] }}\",\n  \"Readable time\": \"{{ $json['Readable time'] }}\",\n  \"Day of week\": \"{{ $json['Day of week'] }}\",\n  \"Day of month\": \"{{ $json['Day of month'] }}\",\n  \"Month\": \"{{ $json.Month }}\",\n  \"Year\": \"{{ $json.Year }}\",\n  \"Hour\": \"{{ $json.Hour }}\",\n  \"Minute\": \"{{ $json.Minute }}\",\n  \"Second\": \"{{ $json.Second }}\",\n  \"Timezone\": \"{{ $json.Timezone }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-464, -96],
      "id": "4ad62ff2-c39c-464a-9dc2-193840fd9941",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"requset_id\": \"{{ $json.id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-96, -96],
      "id": "63670ff9-76a5-4768-94e2-d5f5bff29797",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [432, -96],
      "id": "388a68ce-ed1b-486b-b335-dacde5b1a69e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst reversed = items.reverse();\nreturn reversed;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, -96],
      "id": "4adad673-6248-416f-8e59-c46fce530a1c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "{{TELEGRAM_CHAT_ID}}",
        "text": "={{ $('Edit Fields').item.json[\"Day of month\"] }} {{ $('Edit Fields').item.json.Month }} {{ $('Edit Fields').item.json.Year }} - 🏃 Задачи на день добавлены 🏃",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [816, -224],
      "id": "3b542205-4b34-4a3a-964d-be02c7331d8d",
      "name": "Send a text message",
      "webhookId": "da790ee7-9699-4103-8f6d-f034540e9078",
      "notesInFlow": true,
      "credentials": {
        "telegramApi": {
          "id": "{{TELEGRAM_CREDENTIAL_ID}}",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [672, -224],
      "id": "83b19e61-8461-4e01-9f3b-17deb1c18e00",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "content": "## Каждый день в 7:00 составляется список задач и заносится в Google Tasks",
        "height": 432,
        "width": 1744
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-704, -288],
      "typeVersion": 1,
      "id": "83c36dfe-5bbe-455e-8eb0-8214a10d267c",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Schedule from Sheets": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Load Schedule from Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a task1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "{{N8N_INSTANCE_ID}}"
  }
}